@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";
@plugin "daisyui" {
  prefix: "dsy-";
  logs: false;
  exclude: properties; /* https://github.com/saadeghi/daisyui/issues/3882 */
  themes:
    autumn --default,
    business --prefersdark;
}
